<suite name="ContactManagementAutomationSuite" parallel="tests" thread-count="2">
    <test name="Chrome Tests">
        <parameter name="browser" value="chrome"/>
        <parameter name="url" value="https://thinking-tester-contact-list.herokuapp.com/"/>
        <classes>
            <class name="tests.LoginTests"/>
            <class name="tests.SignUpTests"/>
            <class name="tests.AddContactTests"/>
             <class name="tests.EditContactTests"/>
            <class name="tests.DeleteContactTests"/>
            <class name="tests.SessionManagementTests"/>
           
        </classes>
    </test>
    <test name="Edge Tests">
        <parameter name="browser" value="edge"/>
        <parameter name="url" value="https://thinking-tester-contact-list.herokuapp.com/"/>
        <classes>
            <class name="tests.LoginTests"/>
            <class name="tests.AddContactTests"/>
             <class name="tests.EditContactTests"/>
            <class name="tests.DeleteContactTests"/>
            <class name="tests.SessionManagementTests"/>
           
        </classes>
    </test>


   
</suite>
